<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Chat App</h1>
    
    <div id="chat-display"></div>
    <form id="chat-form" >
        <input type="text" name="message" id="message">
        <button id="send" type="submit">send</button>
    </form>
    <button id="share-location">share-location</button>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/chat.js"></script>
</body>
</html>